@using Mvc5Cv.Models.Entity
@model List<TblEgitimlerim>
<div class="resume-section-content">
    <h2 class="mb-5">Eğitimlerim</h2>
    @foreach (var i in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@i.Baslik</h3>
                <div class="subheading mb-3">@i.AltBaslik1</div>
                <div>@i.AltBaslik2</div>
                <p>GPA: @i.Gno</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@i.Tarih</span></div>
        </div>
    }
</div>