@model Mvc5Cv.Models.Entity.TblHakkimda
@{
    ViewBag.Title = "HakkimdaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>HAKKIMDA DÜZENLEME SAYFASI</h2>
<br />
<form method="post" class="form-group">
    <br />
    @Html.Label("AD")
    @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
    
    @Html.Label("SOYAD")
    @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" })
   
    @Html.Label("ADRES")
    @Html.TextAreaFor(m => m.Adres, new { @class = "form-control" })
    
    @Html.Label("MAİL")
    @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
    
    @Html.Label("TELEFON")
    @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
    
    @Html.Label("AÇIKLAMA")
    @Html.TextAreaFor(m => m.Aciklama, new { @class = "form-control" })
    
    @Html.Label("RESİM")
    @Html.TextBoxFor(m => m.Resim, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">GÜNCELLE</button>
</form>
